body {
  background-color: ghostwhite;
}

.card-img-top {
  width: 100%;
  height: 40vh;
  object-fit: contain;
}

.inputCantidad {
  width: 60px;
  height: 35px;
}

.botonLista {
  width: 100px;
  height: auto;
}
